body {
  background-color: white; /* #282c34;*/
  color: black;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

#navbar {
  font-size: 16px;
  font-weight:bold;
}
 


h1{
  color: rgb(0, 0, 0);
 text-align: center;
 padding: 30px;
 font-size: 50px
}

h2{
  color: rgb(0, 0, 0);
 text-align: center;
 padding: 30px;
 font-size: 50px;
}



/*CONTENT*/

header {
  font-size: 60px;
  letter-spacing: 2px;
  color: white;
}

#citem {
  height: 700px;
}

#caption {
  top:80px;
}


/*FORM*/

form {
  width:500px;
  margin:auto;
}

.btn {
  margin-bottom: 20px;
}

.step {
 margin-left: 350px;
}

.table {
  padding: 50px;
  text-align: justify;
 
}

.bubi {
  width: 500px;
  height: 300px;
  margin: auto;
  color: black;
  background-color: greenyellow;
  box-sizing: border-box;
  
}

.buba {
  width: 300px;
  height: 500px;
  margin: auto;
  color: black;
  background-color: aqua;
  box-sizing: border-box;
  
}

.buba2 {
  width: 300px;
  height: 500px;
  margin: auto;
  color: black;
  background-color: rgb(255, 0, 128);
  box-sizing: border-box;
  
}